In [ ]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.0.1)

In [ ]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 5.2 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [ ]:
!pip3 install dnspython

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)

**Import Modules**

In [ ]:
import pymongo
import datetime                            # Imports datetime library
import json
from pymongo import MongoClient, InsertOne

**Create student Database and collections**

In [22]:
uri ='mongodb+srv://santhosh:santhosh_2010@cluster0.ow0vu.mongodb.net/db_telephone?retryWrites=true&w=majority'
client = MongoClient(uri)

In [8]:
client.list_database_names()

['db_students',
 'db_telephone',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [9]:
db = client["db_telephone"]

In [10]:
client.list_database_names()

['db_students',
 'db_telephone',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [11]:
mycol = db["directory"]

**Insert Collections**

In [12]:
mydict = [{'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  'name': 'Bill gates'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  'name': 'Stefen'}]

x = mycol.insert_many(mydict)

In [13]:
type(x)

pymongo.results.InsertManyResult

**Query Collections**

In [14]:
y = mycol.find()

In [15]:
list(y)

[{'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('621ef8fbc25a4d6315fdcd5d'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621efa3dc25a4d6315fdcd5e'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621efa6cc25a4d6315fdcd5f'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('621f1638c25a4d6315fdcd64'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621f1638c25a4d6315fdcd65'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621f1638c25a4d6315fdcd66'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621f1638c25a4d6315fdcd67'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('6225ca06036432c98afc10d0'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('6225ca06036432c98afc10d1'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('6225ca06036432c98afc10d2'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('6225ca06036432c98afc10d3'),
  'name': 'Stefen'}]

In [16]:
z = mycol.find({'name':'Mark'})
list(z)

[{'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621efa3dc25a4d6315fdcd5e'),
  'name': 'Mark'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621f1638c25a4d6315fdcd65'),
  'name': 'Mark'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('6225ca06036432c98afc10d1'),
  'name': 'Mark'}]

**Update and Query Collections**

In [17]:
myquery = { "name": "Stefen" }
newvalues = { "$set": { "name": "Bill gates" } }
update = mycol.update_one(myquery,newvalues)

In [18]:
list(mycol.find())

[{'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('621ef8fbc25a4d6315fdcd5d'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621efa3dc25a4d6315fdcd5e'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621efa6cc25a4d6315fdcd5f'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('621f1638c25a4d6315fdcd64'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621f1638c25a4d6315fdcd65'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621f1638c25a4d6315fdcd66'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621f1638c25a4d6315fdcd67'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('6225ca06036432c98afc10d0'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('6225ca06036432c98afc10d1'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('6225ca06036432c98afc10d2'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('6225ca06036432c98afc10d3'),
  'name': 'Bill gates'}]

**Query Deletions**

In [19]:
myquery = { "name": "Mark" }

mycol.delete_one(myquery)

In [20]:
list(mycol.find())

[{'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('621ef8fbc25a4d6315fdcd5d'),
  'name': 'John'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621efa6cc25a4d6315fdcd5f'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('621f1638c25a4d6315fdcd64'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621f1638c25a4d6315fdcd65'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621f1638c25a4d6315fdcd66'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621f1638c25a4d6315fdcd67'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('6225ca06036432c98afc10d0'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('6225ca06036432c98afc10d1'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('6225ca06036432c98afc10d2'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('6225ca06036432c98afc10d3'),
  'name': 'Bill gates'}]